<div class="container">
  <div class="dashboard">
      <%= react_component('Dashboard', {
        influencers: @influencers.map do |influencer|
          {
            infos: influencer,
            isOn: user_signed_in? ? current_user.following?(influencer) : true,
            follow_path: follow_influencer_path(influencer),
            stop_following_path: stop_following_influencer_path(influencer),
          }
        end,
        toggleable: user_signed_in?,
        influencersModal: @influencers.map{|influencer| influencer.avatar_url},
        twitterHref: user_omniauth_authorize_path(:twitter)

      })%>
    <div class="clear"></div>
  </div>
</div>