<div class="container">
  <div class="dashboard">
    <% @influencers.each do |influencer| %>
      <div class="influencer-tile">
        <%= image_tag influencer.avatar_url %>
        <menu class="influencer-tile-menu is-on" type="toolbar">
          <div class="toggle-switch"></div>
          <div class="label-container">
          <label class='label-on'>on</label>
          <label class='label-off'>off</label>
          </div>
        </menu>
      </div>
    <% end %>
    <div class="clear"></div>
  </div>
</div>