<%= content_for :title do %>
  Freshest - Short-lived news from the modern Web
<% end %>

<div class="container">
  <div class="dashboard">
      <%= react_component('Dashboard', {
        sources: @sources.map do |source|
          {
            infos: source,
            isOn: user_signed_in? ? current_user.following?(source) : true,
            follow_path: follow_source_path(source),
            stop_following_path: stop_following_source_path(source),
          }
        end,
        toggleable: user_signed_in?,
        lastSourcesImages: @sources[0..4].map {|source| source.avatar_url},
        oauthPath: user_omniauth_authorize_path(:twitter),
        currentUser: current_user,
        userSignedIn: user_signed_in?

      })%>
    <div class="clear"></div>
  </div>
</div>