<%= content_for :title do %>
  Freshest - Short-lived news from the modern Web
<% end %>

<div class="container">
  <div class="dashboard">
      <%= react_component('Dashboard', {
        sources: @sources.map do |source|
          {
            infos: source,
            isOn: user_signed_in? ? current_user.following?(source) : source.in_starting_pack?,
            follow_path: follow_source_path(source),
            stop_following_path: stop_following_source_path(source),
            dataSourcePath: data_source_path(source)

          }
        end,
        toggleable: user_signed_in?,
        lastSourcesImages: @sources[0..4].map {|source| source.avatar_url},
        oauthPath: user_omniauth_authorize_path(:twitter),
        currentUser: current_user,
        userSignedIn: user_signed_in?

      })%>
    <div class="clear"></div>
  </div>
</div>

<%= content_for :after_js do %>
  <% javascript_tag do %>
    $(document).ready(function() {
      $('.shadowed').on('mouseenter', function() {
        var id = $(this).attr('id').slice($(this).attr('id').lastIndexOf("_") + 1, $(this).attr('id').length);
        $(this).click()
        $('#popover_' + id).on('mouseleave', function() {
          $('#source_' + id).click()
        })
      })
    })
  <% end %>
<% end %>