.pages_about .hero {
  font-size: 27px;
  font-weight: 600;
  margin-top: 50px;
}

.team {
  max-width: 900px;
  margin:auto;


  h4{
    font-weight: 600;
  }
}

.team-title {
  padding-bottom: 50px;
}

.team-card {
  margin: 50px 0;

  .row-table-sm {
    margin: auto;
  }

  .img-container {
    vertical-align: middle;
    img {
      width: 100px;
    }
  }
  .text-left {
    vertical-align: middle;
    padding-left: 20px;

    h4 {
      box-shadow: inset 0 -10px 0 #00FFC6;
      display: inline-block;
    }


    a {
      color: black;
      font-weight: normal;
      display: block;
    }
  }
}


