<div class="navigation-bar">
  <div class="container">
    <div class="brand">
      <div class="logo">
        <span>Freshest</span>
      </div>
      <div class='slogan'>
        Short-lived fresh news from the modern Web
      </div>
    </div>
    <div class="bar-right pull-right">
      <%= react_component("ConnectModal", {
        href: user_omniauth_authorize_path(:twitter),
        influencer_avatars: @last_posts[0..4].map {|post| post[:user_image]}
        }) %>
    </div>
  </div>
</div>