<div class="navigation-bar">
  <div class="container">
    <div class="brand">
      <div class="logo">
        <span>Freshst</span>
      </div>
      <div class='slogan'>
        Short-lived news from the modern Web
      </div>
    </div>
    <div class="bar-right pull-right">
      <div class="button"> Suggest an Influencer </div>
    </div>
  </div>
</div>