<div class="container">
  <h1>Why?</h1>
  <p>Because there is too much information everywhere.</p>
  <p>We spend more and more time scrolling and browsing for interesting articles to read.</p>
  <p>We spend less and less time actually reading them.</p>
  <p>Stop scrolling.</p>
  <p>Just read the freshest articles from your favorite sources.</p>
  <h1>How?</h1>
  <p>For each source, we only save the latest article posted.</p>
  <p>Any new article pushes the last one out.</p>
  <p>You'd better stop thinking and start reading!</p>
  <p>Freshest's algorithm selects the 5 latest sources who have published an article, from the sources you have selected in your account's settings.</p>
  <h1>Who?</h1>
  <p>Anyone can suggest a new source by clicking on the corresponding button in the navbar.</p>
  <p>Make Freshest grow and become better by <%= link_to "following us on Twitter", "https://twitter.com/frshst", target: "_blank" %>.</p>
</div>