<%= content_for :title do %>
  Freshest - Short-lived news from the modern Web
<% end %>

<div class="container">
  <div class="text-center hero">
    Freshest brings you the latest stuff from your favorite sources, in real time. It's a short-lived batch of resources from the modern web, continuously curated by CRISP, our algorithm.
  </div>

  <div class='text-center team'>
    <div class="equal-height">
      <a href='http://twitter.com/tchret' target="_blank">
        <div class="col-sm-6 col-xs-12 team-card">
          <div class="row-table-sm">
            <div class="col-xs-4 col-sm-4 img-container">
              <%= image_tag 'https://pbs.twimg.com/profile_images/601731362891165696/PJ-aTC7J.jpg', class: 'img-circle', width: "100%" %>
            </div>
            <div class="col-xs-8 col-sm-8 text-left">
              <h4>Thomas Chrétien</h4>
              <a href='http://twitter.com/tchret' target="_blank">@tchret</a>
            </div>
          </div>
        </div>
      </a>
      <a href='https://twitter.com/EdwardSchults' target="_blank">
        <div class="col-sm-6 col-xs-12 team-card">
          <div class="row-table-sm">

            <div class="col-xs-4 col-sm-4 img-container">
              <%= image_tag 'https://pbs.twimg.com/profile_images/467283249744838656/dE6Vjjcz_400x400.jpeg', class: 'img-circle', width: "100%" %>
            </div>
            <div class="col-xs-8 col-sm-8 text-left">
              <h4>Edward Schults</h4>
              <a href='https://twitter.com/EdwardSchults' target="_blank">@EdwardSchults</a>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="clear"></div>
  </div>
</div>


