.alert-info {
  background: none;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  border: none;
  background-color: $brand-color;
  font-weight: 500;
  margin-bottom: 0;
  border: none;
  transition: all 0.1s linear;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.is-hidden {
    margin-top: -85px;
  }
}