/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

 .col-sm-6 {
  padding-left: 15px;
  padding-right: 15px;
 }

 .body {
  font-family: Avenir;
 }

 a:focus {
  outline: 0;
 }