/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}
.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}
.invisible {
  display: none;
}
.img-40 {
  width: 40px;
}
.influencer-link {
  font-weight: bold;
  color: rgb(79, 79, 79)
}
.container {
  padding-left: 10px;
  padding-right: 10px;
}
.panel-default {
  margin-bottom: 10px;
}
.post:hover {
  background-color: whitesmoke;
}
span.link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}