.cross-container {
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 200;
  background: black;
  border-radius: 50%;
  width: 40px;
  padding: 9px;
  height: 40px;
  display: none;

  @media (max-width: 1200px) {
    background: $brand-color;
    border-radius: 0 50% 50% 0;
    left:0;
  }

  &.visible {
    display: block;
  }

  &:hover {
    background: $brand-color;
  }

  #cross {
     width: 100%;
     transform: rotate(45deg);

     height: 100%;
     position: relative;
  }

  #cross:before, #cross:after {
    content: "";
    position: absolute;
    z-index: -1;
    background: white;
  }

  #cross:before {
    left: 50%;
    width: 13%;
    margin-left: -3%;
    height: 100%;
  }

  #cross:after {
    top: 50%;
    height: 13%;
    margin-top: -3%;
    width: 100%;
  }

}