.helper-container {
  display: flex;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;

  p {
    padding-bottom: 40px;
  }

  .text-center {
    max-width: 700px;
  }
}

.hero-post-modal {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(255, 255, 255, 0.95);
  z-index: -1;

  .hero-post-container {
    overflow: scroll;
    background-color: white;
    position: absolute;
    right: 0;
    width: 100%;
    max-width: 1200px;
    bottom: 0;
    top: 0;
    box-shadow: 0 0 1px rgba(0,0,0,0.15);
    transform: translateX(100%);
    // transition: 0.s ease transform;

    &.no-scroll {
      overflow: hidden;
    }
  }

  &.is-active {
    z-index: 10;

    .hero-post-container {
      transform: translateX(0)
    }
  }
}

.hero-post {
  height: 100%;

  .iframe-container {
    height: 100%;
    position: relative;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    z-index: 1;
  }

  iframe {
    border: none;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.2s ease;

    &.is-visible {
      opacity: 1;
    }
  }
}

.l-loader {
  background: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 0;
  justify-content: center;
  opacity: 1;

  &.is-hidden {
    display: none;
  }
}

.catch-waiting {
  padding-bottom: 20px;
}

.spinner {
  opacity: 0.3;
  width: 100px;
  height: 100px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

.hero-profile {
  padding: 20px;
  position: relative;
  box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.07),0 -1px 0 0 rgba(0,0,0,0.03);
  background-color: #00FFC6;

  img {
    border-radius: 3px;
  }
}