.hero-post-modal {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(255,255,255,0.8);
  z-index: -1;

  .hero-post-container {
    overflow: scroll;
    background-color: white;
    position: absolute;
    right: 0;
    width: 800px;
    bottom: 0;
    top: 0;
    box-shadow: 0 0 1px rgba(0,0,0,0.15);
    transform: translateX(100%);
    transition: 0.2s ease transform;
  }

  &.is-active {
    z-index: 10;

    .hero-post-container {
      transform: translateX(0)
    }
  }
}

.hero-header {
  min-height: 300px;
  position: relative;
  overflow: hidden;

  &:after {
    background: black;
    opacity: 0.4;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-background-1;
  }

  .bg-blur {
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(3px);
    transform: scale(1.1);
    transition: all 0.3s ease;
  }
}

.hero-header-content {
  padding: 170px 30px 30px 30px;

  img {
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
  }

  h3 {
    color: white;
  }

  p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
  }
}