.interstitial-twitter {
  background: #55ACEE;
  padding-top: 7%;
  padding-bottom: 7%;
  position: relative;

  .button {
    color: #55ACEE;
  }

  p {
    color: white;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: 20px;
  }
}



.ph-interstitiel {
  background: rgb(216, 86, 55);
  position: relative;
  overflow: hidden;
  .cat {
    position: absolute;

    z-index: 0;
    right: 0;
    top: -90px;
    width: 763px;
    transform: translateX(40%);
  }



  .post, article {
    background: none;

    &:hover {
      .source-name {
        box-shadow: none;
      }
    }
    .source-name {
      color: white
    }

    h4 {
      color: white;
    }

    p {
      color: rgba(255, 255, 255, 0.61)
    }
  }
}